@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

display {
  font-family: Roboto;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

body {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #595959;
}

#header {
  background-color: #000000;
  color: #ffffff;
}

a.header-lang {
  color: #ffffff;
}

.error {
  color: red;
}